{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<table class="table table-bordered table-hover">
    <thead>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Total</th>
    </thead>
    <tbody>
        {% for investment in portfolio %}
        <tr>
            <td>{{investment.symbol}}</td>
            <td>{{investment.shares}}</td>
            <td>{{investment.price | usd}}</td>
            <td>{{ (investment.price * investment.shares)  | usd }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Balance:</td>
            <td> {{ total_cash | usd }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}